
.container {
  display: grid;
  width: 100vw;
  height: 60vh;
  /*grid-template-columns: 15% [content] auto 15%;*/
  /*grid-template-rows: [header] 5em [fileContent] auto [operations] 5em;*/
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto 60% 5em;
  grid-template-areas:
          ". header ."
          ". content ."
          ". buttons ."
;
}


header {
  grid-area: header;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: flex-end; /* align vertical */
}


.fileContent {
  background-color: #61dafb;
  grid-area: content;
  display: flex;
}


textarea {
  flex: 1;
  resize: none;
}

footer {
  grid-area: buttons;
}

.loader {
  display: flex;
  justify-content: center;
}

.buttons {
  display: grid;
  grid-template-columns: [left] 50% [right] 50%;
}